<div class="main-content">
  <div class="spot-info">
    <div class="spot-name">考点名称：上海大学考点</div>
    <div class="room-num">考场数量：10</div>
  </div>

  <div class="paper-info">
    <div class="info-title">试卷信息</div>
    <!--添加试卷-->
   <!-- <div class="add-paper">
      <span class="fileInput-btn btn ">
        <span>添加试卷</span>
       <input type="file">
      </span>
    </div>-->
    <!--添加试卷后的详细信息-->
    <div class="paper-detail">
      <ul class="info-list">
        <li>试卷名称：会计考试</li>
        <li>试卷科目：会计、公司战略</li>
        <li>试卷数量：2份</li>
        <li>试卷包大小：5M</li>
        <li>上传时间：2018-10-9  9:00:59</li>
        <li class="operation"><span class="exchange-paper">替换试卷</span>|<span class="del-paper">删除试卷</span></li>
      </ul>
    </div>
  </div>

  <div class="room-module">
    <div class="room-header">
      <div class="header-name">考场列表 &nbsp;  2018-10-10  9:00-10:00</div>
    </div>
    <table class="table room-table">
      <thead>
      <tr>
        <th>考场名称</th>
        <th>管理机IP</th>
        <th>考试科目</th>
        <th>最后一次上传时间</th>
        <th>试卷下载（<span>1/3</span>）</th>
        <th>密码下载（<span>1/3</span>）</th>
        <th>答题数据上传（<span>0/3</span>）</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>上海大学考场1</td>
        <td>192.168.12.01</td>
        <td>会计、公司战略</td>
        <td>2018-10-10  9:00:10</td>
        <td><span class="done"></span></td>
        <td><span class="error"></span></td>
        <td><span class="forbidden"></span></td>
      </tr>
      <tr>
        <td>上海大学考场1</td>
        <td>192.168.12.01</td>
        <td>会计、公司战略</td>
        <td>2018-10-10  9:00:10</td>
        <td><span class="processing"></span></td>
        <td><span class="forbidden"></span></td>
        <td><span class="forbidden"></span></td>
      </tr>
      <tr>
        <td>上海大学考场1</td>
        <td>192.168.12.01</td>
        <td>会计、公司战略</td>
        <td>2018-10-10  9:00:10</td>
        <td><span class="done"></span></td>
        <td><span class="processing"></span></td>
        <td><span class="error"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">共3条数据，当前第1页，共1页</div>
</div>
