
.header {
  height: 3rem;
  background-color: #D80C18;
  line-height: 3rem;
  font-size: 1.25rem;
  color: #fff;
  font-family: microsoft YaHei;
}
.header .ata-logo {
  float: left;
  margin-top: 0.5rem;
  margin-left: 2rem;
  background: url("../../../assets/images/ata-logo.png") no-repeat;
  background-size:contain;
  width: 10rem;
  height: 2rem;
}

.header .ip-address {
  width: 18rem;
  float: right;
}

